<!-- header 
   ================================================== -->
   <header>   	
    <div class="row">

      <div class="top-bar">
        <a class="menu-toggle" (click)="toggleMenu()" style="cursor: pointer;"><span>Menu</span></a>

        <div class="logo" style="height: 100%;">
            <a>AHSAN</a>
         </div>		      

        <nav id="main-nav-wrap">
         <ul class="main-navigation" [style.display]="navVisible ? 'block' : 'none'">
           <li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
           <li><a class="smoothscroll"  href="#about" title="">About</a></li>
           <li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
           <li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
           <li><a class="smoothscroll"  href="#services" title="">Services</a></li>					
           <li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>	
           <li><a href="styles.html" title="">Style Demo</a></li>				
         </ul>
       </nav>    		
      </div> <!-- /top-bar --> 
      
    </div> <!-- /row --> 		
  </header> 
  <!-- /header -->

  <!-- intro section
   ================================================== -->

  <section id="intro">   

    <div class="intro-overlay"></div>	

    <div class="intro-content">
      <div class="row">

        <div class="col-twelve">

          <h5>Hello, World.</h5>
          <h1>I'm Shaikh Ahsan.</h1>

          <p class="intro-position">
            <span>Front-end Developer</span>
            <!-- <span>UI/UX Designer</span>  -->
          </p>

          <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

        </div>  
        
      </div>   		 		
    </div> <!-- /intro-content --> 

    <ul class="intro-social">        
        <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
        <li><a href="https://github.com/ahsanshaikh071297" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/shaikh-ahsan071297/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
        <!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
     </ul> <!-- /intro-social -->      	

  </section> <!-- /intro -->

  <!-- about section
   ================================================== -->
   <section id="about">  

    <div class="row section-intro">
      <div class="col-twelve">

        <h5>About</h5>
        <h1>Let me introduce myself.</h1>

        <div class="intro-info">

          <!-- <img src="images/profile-pic.jpg" alt="Profile Picture"> -->

          <p class="lead">Driven Frontend Developer | Proficient in Angular, HTML & CSS | Delivered 2 Unique Projects & 1 Enhancing Task | 2.5 Years of Crafting Exceptional User Experiences at LTIMindtree.</p>
        </div>   			

      </div>   		
    </div> <!-- /section-intro -->

    <div class="row about-content">

      <div class="col-six tab-full">

        <h3>Profile</h3>
        <p>Greetings! An Angular Frontend Developer driven by a deep passion for crafting immersive digital experiences. With 2.5 years of hands-on experience in the field, I've honed my skills in HTML, CSS, and Angular to bring ideas to life with precision and creativity. I thrive on challenges and am committed to delivering excellence in every project I undertake. With a focus on effective communication and collaboration, I ensure that stakeholder needs are met and exceeded.

          Continuously learning and adapting to new trends, I'm passionate about pushing the boundaries of frontend development</p>

        <ul class="info-list">
          <li>
            <strong>Fullname:</strong>
            <span>Shaikh Mohd Ahsan</span>
          </li>
          <li>
            <strong>Birth Date:</strong>
            <span>December 07, 1997</span>
          </li>
          <li>
            <strong>Job:</strong>
            <span>Frontend Developer</span>
          </li>
          <li>
            <strong>Linkedin:</strong>
           <a href="https://www.linkedin.com/in/shaikh-ahsan071297/"><span>Shaikh Ahsan</span></a> 
          </li>
          <li>
            <strong>Email:</strong>
            <span>ahsanShaikh071297@outlook.com</span>
          </li>

        </ul> <!-- /info-list -->

      </div>

      <div class="col-six tab-full">

        <h3>Skills</h3>
        <!-- <p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p> -->

       <ul class="skill-bars">
          <li>
            <div class="progress percent80"><span>80%</span></div>
            <strong>HTML5</strong>
          </li>
          <li>
            <div class="progress percent65"><span>65%</span></div>
            <strong>CSS3</strong>
          </li>
          <li>
            <div class="progress percent80"><span>80%</span></div>
            <strong>Angular</strong>
          </li>
          <li>
            <div class="progress percent70"><span>70%</span></div>
            <strong>Javascript</strong>
          </li>
          <li>

            <div class="progress percent80"><span>80%</span></div>
            <strong>Typescript</strong>
          </li>
          <li>

            <div class="progress percent80"><span>80%</span></div>
            <strong>Bootstrap</strong>
          </li>
          <li>

            <div class="progress percent60"><span>60%</span></div>
            <strong>Git</strong>
          </li>
     
       </ul> <!-- /skill-bars -->		

      </div>

    </div>

    <div class="row button-section">
      <div class="col-twelve">
        <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
        <a title="Download CV" class="button button-primary" (click)="downloadResume()">Download CV</a>
      </div>   		
    </div>

  </section> <!-- /process--> 

  <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<p class="lead">At LTIMindtree, I've led the development of 2 original projects and enhanced existing ones, leveraging my expertise in HTML, CSS, and Angular. Leveraging my problem-solving skills to optimize performance and user experience. Whether it's implementing responsive designs, optimizing page load times, or ensuring cross-browser compatibility.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<!-- <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>UI Designer</h3>
	   					<p>July 2015 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Awesome Studio</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
	   				</div>

	   			</div>  -->
          <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Front-end Developer</h3>
	   					<p>October 2021 - present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>LTIMindtree</h4>
	   					<p>Led the development of two projects from inception, showcasing 
                proficiency in HTML, CSS, Bootstrap, and Angular. Crafted seamless 
                interfaces for an intuitive user experience. <br>
                Successfully enhanced and developed the projects using Angular to 
                integrate REST API functionality. Implemented dynamic data retrieval, 
                showcasing versatility in presenting data through tables, forms, and 
                charts. <br>
                Incorporated Microsoft login for web applications, fetching user data via 
                Microsoft Graph API. Utilized third-party tools such as Ag Grid for data 
                presentation and export, along with Chart.js and AmCharts for dynamic 
                charts. Maintained code efficiently using Bitbucket for seamless 
                collaboration within the development team. <br>
                Provided technical support for diverse applications within the company's 
                portfolio, collaborating with teams to troubleshoot and ensure seamless 
                functionality. Demonstrated versatility in both frontend development and 
                technical support roles.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<!-- <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Web Designer</h3>
	   					<p>May 2013 - June 2014</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Great Designs Studio</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>

	   			</div> -->
           <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelor Degree - Electronics and Telecommunication</h3>
	   					<p> 2018 - 2021</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Rizvi College Of Engineering</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Diploma - Industrial Electronics</h3>
	   					<p>Aug 2015 - July 2017</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Father Agnel Technical Education Complex</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Higher Secondary</h3>
	   					<p> 2013 - 2015</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>St. Marys High School & Junior College</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->

  <!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Portfolio</h5>
   			<h1>Check Out Some of My Works.</h1>

   			<p class="lead">Below are some examples of my work, which have greatly contributed to my learning journey:</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

            <div class="bgrid folio-item">
              <div class="item-wrap">
                <img src="assets/images/portfolio/NewsApp.png" alt="News App">
                 <a href="#modal-03" class="overlay">             		                  
                    <div class="folio-item-table">
                      <div class="folio-item-cell">
                        <h3 class="folio-title">New App</h3>	     					    
                      <span class="folio-types">
                        Web Design/Web Application
                      </span>		     		
                   </div> 	                      	
                    </div>                    
                 </a>
              </div>
           </div> <!-- /folio-item -->

           <div class="bgrid folio-item">
            <div class="item-wrap">
              <img src="assets/images/portfolio/AmazonClone.png" alt="Amazon clone">
               <a href="#modal-04" class="overlay">                  	                 
                  <div class="folio-item-table">
                    <div class="folio-item-cell">
                      <h3 class="folio-title">Amazon Clone</h3>	     					    
                    <span class="folio-types">
                         Clone
                    </span>		     		
                 </div>  	                      	
                  </div>                    
               </a>
            </div>
         </div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="assets/images/portfolio/WeatherForecast.png" alt="Weather Forecast">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Weather Forecast</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Design/ Web Application
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

              <div class="bgrid folio-item" style="position: absolute;
              left: 737px;
              top: 5355px; width: 550px;">
                <div class="item-wrap">
                  <img src="assets/images/portfolio/TODOTaskManager.png" alt="To-Do List">
                   <a href="#modal-01" class="overlay" >	                  	           
                      <div class="folio-item-table">
                        <div class="folio-item-cell">
                         <h3 class="folio-title">To-Do List</h3>	     					    
                         <span class="folio-types">
                             Task Application
                         </span>
                     </div>	                      	
                      </div>                    
                   </a>
                </div>	               
             </div> <!-- /folio-item -->


	                 

	        		<!-- <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/lighthouse.jpg" alt="Lighthouse">
	                  <a href="#modal-05" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Lighthouse</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Web Development
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> -->

	            <!-- <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/portfolio/salad.jpg" alt="Salad">
	                  <a href="#modal-06" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Salad</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Branding
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div>    -->

	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<!-- <div class="media">
				     		<img src="images/portfolio/modals/m-liberty.jpg" alt="" />
				     	</div>      	 -->

					   <div class="description-box">
					      <h4>To-Do Task Manager</h4>		      
					      <p>The To-Do Task Manager is a sleek and modern web application designed to help you organize your tasks effortlessly. With features like IndexedDB integration for local storage, Microsoft Authentication for secure login, and a beautiful Glassmorphism user interface, managing your tasks has never been easier or more stylish.</p>

					      <div class="categories">Web Development</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.linkedin.com/posts/shaikh-ahsan071297_frontend-angular-html5-activity-7183078017580032001-4GXA?utm_source=share&utm_medium=member_desktop" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss" >Close</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<!-- <div class="media">
				     		<img src="images/portfolio/modals/m-shutterbug.jpg" alt="" />
				     	</div>      	 -->

					   <div class="description-box">
					      <h4>Weather Forecast</h4>		      
					      <p>Weather forecast web application provides users with up-to-date weather statistics and forecasts for cities around the world. Whether you're planning a weekend getaway or just want to know what to expect for the day, our app has got you covered!</p>

					      <div class="categories">Web Design/ Web Application</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.linkedin.com/posts/shaikh-ahsan071297_weatherforecast-angular-rapidapi-activity-7183379790559666176-SXiv?utm_source=share&utm_medium=member_desktop" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<!-- <div class="media">
				     		<img src="images/portfolio/modals/m-clouds.jpg" alt="" />
				     	</div>      	 -->

					   <div class="description-box">
					      <h4>News Application</h4>		      
					      <p> With the News App, you can stay informed with the latest happenings around the world, all in one place.</p>

					      <div class="categories">Web Design/ Web Application</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.linkedin.com/posts/shaikh-ahsan071297_newsapp-latestnews-stayinformed-activity-7183852627930038274-B4xL?utm_source=share&utm_medium=member_desktop" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<!-- <div class="media">
				     		<img src="images/portfolio/modals/m-beetle.jpg" alt="" />
				     	</div>      	 -->

					   <div class="description-box">
					      <h4>Amazon Clone</h4>		      
					      <p>In the realm of web development, replicating a colossal platform like Amazon is no small feat. I took on this challenge with the hashtag#AmazonClone project, diving deep into HTML, CSS, and Angular to recreate the seamless shopping experience of Amazon.</p>

					      <div class="categories">Web Application</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://www.linkedin.com/posts/shaikh-ahsan071297_amazonclone-html-css-activity-7185949240420958208-gOqY?utm_source=share&utm_medium=member_desktop" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-04 -->


				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 

  

  <!-- services Section
   ================================================== -->
   <section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Services</h5>
   			<h1>What Can I Do For You?</h1>

   			<p class="lead">As a frontend developer, I excel in crafting captivating user interfaces using HTML, CSS, and Angular. With a focus on design and innovation, I create sleek and responsive websites that engage users.</p>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list owl-theme" style="opacity: 1; display: block;">

	      	<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4800px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 400px;"><div class="service">	

	      		<span class="icon"><i class="icon-earth"></i></span>            

	            <div class="service-content">	

	            	 <h3>Webdesign</h3>

		            <p class="desc">As a frontend developer skilled in HTML, CSS, Angular, and JavaScript, I contribute to web design by bringing design concepts to life with precision and creativity. My expertise ensures that websites are not only visually appealing but also responsive and user-friendly across devices. By optimizing code and collaborating closely with designers, I enhance website performance and maintain design consistency.
	         		</p>
	         		
	         	</div> 	         	 

				</div></div><div class="owl-item" style="width: 400px;"><div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Web Development</h3>  

		            <p class="desc">Proficient in HTML, CSS, and Angular, I specialize in crafting dynamic and immersive user interfaces. Leveraging these technologies, I create elegant and functional web applications with seamless interactivity and responsiveness. My expertise ensures that design mockups are seamlessly integrated into Angular components, delivering engaging and user-centric experiences across all pages. Whether it's implementing complex UI features or optimizing performance, I play a vital role in the development of modern and impactful web solutions.
	         		</p>

	            </div>	                          

			   </div></div><div class="owl-item" style="width: 400px;"><div class="service">

					<span class="icon"><i class="icon-toggles"></i></span>	              

	            <div class="service-content">

	            	<h3>UI/UX Design</h3>

		            <p class="desc">As a UI/UX developer skilled in HTML, CSS, and Angular, I specialize in creating intuitive and visually stunning interfaces. Leveraging these technologies, I craft engaging user experiences that seamlessly blend functionality with aesthetics. From wireframing to prototyping, I ensure every interaction is intuitive and delightful for users.
	         		</p> 
	         		
	            </div>                

				</div></div></div></div> <!-- /service -->

	      <!-- <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div> -->
      </div> 
        <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section>


  <!-- contact
   ================================================== -->
	<section id="contact" style="padding-top:0 ;">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>

   			<!-- <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p> -->

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action="">
      			<fieldset>

                  <div class="form-field">
 						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                  </div>
                  <div class="form-field">
	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field">
	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
	               </div>                       
                  <div class="form-field">
	                 	<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	               </div>                      
                 <div class="form-field">
                     <button class="submitform">Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>                             
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">            	
            </div>            
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
            Mumbai, Maharashtra<br>
            400070 IN
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>
			   	ahsanShaikh071297@outlook.com		     
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Call Me At</h5>

   			<p>
			   	Mobile: (+91) 8879 50 7006<br>
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->

  <!-- footer
   ================================================== -->

   <!-- <footer>
    <div class="row">

      <div class="col-six tab-full pull-right social">

        <ul class="footer-social">        
         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
         <li><a href="#"><i class="fa fa-behance"></i></a></li>
         <li><a href="#"><i class="fa fa-twitter"></i></a></li>
         <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul> 
         
     </div>

     <div class="col-eight tab-full">
       <div class="copyright">
           <span>© Copyright 2018 </span> 
           <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span> 
           <span>Distributed by <a href="https://themewagon.com/">themewagon</a></span>	         	
          </div>		                  
       </div>

       <div id="go-top">
          <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
       </div>

     </div>     	
</footer>  -->

<div id="go-top">
  <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
</div>

<div id="preloader"> 
  <div id="loader"></div>
</div>